
<footer>
        <p>INGENIERIA DEL SOFTWARE 3</p>
        <p>Este curso profundiza en los principios y prácticas avanzadas de la Ingeniería del Software, con énfasis en el desarrollo de sistemas complejos y la gestión de proyectos de software.</p>
     
        <p>DESARROLLADOR: Luis Delgado</p>
       
         <div class="enlaces">
                 <a href="https://gitlab.com/luisdelgado97/02-ug-0085-motor-plantillas.git">Repositorio GitLab</a>
         </div>
 </footer>
 